<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehiculos</title>
    <link rel="stylesheet" href="../css/master.css">
</head>
<body id="vista_vehiculos">

    <main id="vehiculos">
        <header id="nav_vehiculos">
            <nav>
                <ul>
                    <li>Carros</li>
                    <li>Motos</li>
                    <li>Accesorios</li>
                    <li>Domicilios</li>
                </ul>
            </nav>
        </header>

        <div id="hero">
            <h1>Nuevos Vehiculos todos los dias</h1>
            <p>Ven y adquiere el tuyo ya</p>
            <button>Compra Aqui</button>
        </div>

        <div id="vehicles">
            <div class="fila">
                <article>
                    <img src="../imgs/car.jpg" alt="carro">
                    <h3>Marca Carro</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <button>detalles</button>
                </article>
                <article>
                    <img src="../imgs/car.jpg" alt="carro">
                    <h3>Marca Carro</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <button>detalles</button>
                </article>
            </div>

            <div class="fila">
                <article>
                    <img src="../imgs/car.jpg" alt="carro">
                    <h3>Marca Carro</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <button>detalles</button>
                </article>
                <article>
                    <img src="../imgs/car.jpg" alt="carro">
                    <h3>Marca Carro</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <button>detalles</button>
                </article>
            </div>

            <div class="fila">
                <article>
                    <img src="../imgs/car.jpg" alt="carro">
                    <h3>Marca Carro</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <button>detalles</button>
                </article>
                <article>
                    <img src="../imgs/car.jpg" alt="carro">
                    <h3>Marca Carro</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <button>detalles</button>
                </article>
            </div>
        </div>

        <footer>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </footer>
    </main>
</body>
</html>